@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

#logo {
  background: linear-gradient(to right, rgb(174, 0, 255) , rgb(255, 0, 212));
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: 'Lobster';
  font-weight: 600;
  font-size: 150px;
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  filter: drop-shadow(1px 1px #333);
  transition: opacity 0.3s;
}

#logo-container {
  text-align: center;
  margin-top: 10%;
  transition: margin-top 0.7s;
}

#button-container {
  text-align: center;
}

#start-button {
  color: white;
  background-color: #8d65fc;
  transition: opacity 0.3s, margin-top 0.7s;
}

.nav-container {
  position: fixed;
  top: 20%;
  left: 0;
  background-color: rgb(58, 58, 58);
  padding: 1%;
  border-radius: 0% 20% 20% 0%;
}

.menu-list a {
  color: white;
}